CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
*.pc
*.dylib
*.nsf
*.mid
*.wav
*.reapeaks
*.RPP
*.RPP-bak
.DS_Store
demo/demo
nsf2midi/nsf2midi
*.spc
.cache/
build/
.vscode/